img{
    height: 40vh;
    width: 40vh;
}
.card{
    border: 2px solid #E08E6D;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.like{
    margin-right: 10px;
}
.dislike{
    margin-right: 10px;
}